@font-face {
  font-family: "Liquido Fluid";
  src: url("/assets/LIQUIDO-Fluid");
}

body {
  margin: 42px;
}

h1 {
  font-family: "Liquido Fluid", "Arial Black", sans-serif;
  font-size: 3.5em;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
